# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual env
venv/
.venv/
env/

# Django / lokal
*.sqlite3
*.sqlite3-journal
.env
.env.*
local_settings.py

# Media va statik yig‘im (productionda alohida)
media/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Loglar
*.log
