aiofiles==25.1.0
aiogram==3.26.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.4
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.11.1
attrs==26.1.0
certifi==2026.2.25
Django==6.0.3
celery==5.5.3
django-cors-headers==4.9.0
django-redis==6.0.0
django-ninja==1.6.2
gunicorn==23.0.0
waitress==3.0.2
whitenoise==6.11.0
frozenlist==1.8.0
idna==3.11
magic-filter==1.0.12
multidict==6.7.1
pillow==12.1.1
propcache==0.4.1
pydantic==2.12.5
pydantic_core==2.41.5
sqlparse==0.5.5
redis==6.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
yarl==1.23.0
